<div class="container">
  <h2>Angular Test</h2>
  <div class="form-group">
    <input type="text" class="form-control" [(ngModel)]='searchText'>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>title</th>
        <th>url</th>
        <th>created_at</th>
        <th>author</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let item of ListData|searchpipe:searchText' data-toggle="modal" data-target="#rowData" (click)="getRowData(item)">
        <td>{{item.title}}</td>
        <td>{{item.url}}</td>
        <td>{{item.created_at}}</td>
        <td>{{item.author}}</td>
      </tr>
    </tbody>
  </table>

<div id="rowData" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Row JSON Data</h4>
      </div>
      <div class="modal-body">
        {{rowJSONData|json}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
